body { margin: 0; }
/* body { margin: 0; text-align: center; } */

.clearfix:after { content: '';  clear: both;  display: table; }

nav { height: 35px; margin-top: 15px; }   /* TODO trytan */
nav a { border: solid; margin: 10px; padding: 10px; }
header img { width: 100%; height: 100%; }
/* TODO trim img top and little on bottom */

/* .container { margin: 0 auto; padding: 20px; max-width: 950px; } */

/* flexbox settings */
/* TODO try gray or light blue/green */
.container {
  /* display: flex; flex-wrap: wrap;  */      /* flexbox setup */
  align-items: center;  /* in flexbox keep child img from stretching */
  max-width: 950px; margin: auto;  /* keeps content centered with margin */
}

/* projects section */
#projects { width: 100%; }
#projects .proj-articles { display: flex; flex-wrap: wrap; }
#projects article { width: 100%; padding-top: 10px; }  /* mobile 1 column */
#projects article img { width: 300px; height: 225px; }
@media screen and (min-width: 800px) { /* media queries */
  #projects article { width: 50%; }
  #projects article img { width: 400px; height: 300px;}
}
/* @media screen and (min-width: 700px) {
  #projects article { width: 33%; }
  #projects article img { width: 150px}
} */
