body { margin: 0; background-color: #eef; }

.clearfix:after { content: '';  clear: both;  display: table; }

nav { height: 35px; margin-top: 15px; font-weight: 600; font-family: Verdana, sans-serif; }   /* TODO trytan */
nav a { margin: 10px; padding: 10px; text-decoration: none; }
nav a:hover { background-color: #bbb; }
a:active { color: blue; }
header img { width: 100%; height: 100%; }

/* container for main content under image */
.container { padding: 0 20px; max-width: 1000px; margin: auto; }

#title { margin-bottom: 3px;
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif }
#profiles { margin-top: 0; }
#profiles a { padding-right: 10px; }
h2 { font-family: Arial, Book Antiqua, Georgia, serif; }
/* projects section */
#projects { width: 100%; }
#projects .proj-articles { display: flex; flex-wrap: wrap; }
#projects article { width: 100%; padding-top: 10px; text-align: center; }  /* mobile 1 column */
#projects article img { width: 300px; height: 225px; }
article a { text-decoration: none; }
@media screen and (min-width: 800px) { /* media queries */
  #projects article { width: 50%; }
  #projects article img { width: 400px; height: 300px;}
}
/* @media screen and (min-width: 700px) {
  #projects article { width: 33%; }
  #projects article img { width: 150px}
} */

/* try rounded corner border around projects */
/* TODO eliminate whitespace margin around resume, make container 950, try border */
#resume { width: 1000px; height: 2500px; margin: 0 auto; display: block; }
